body{
    background-image:url(../img/t1.jpg);
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}
.m{
    width:1200px;
    margin: auto;
}
.a{
    width: 90%;
    height: 800px;
    margin:auto;
    background-color:black;
    border: 1px solid black;
    background-image:url(../img/ev15.jpg);

}
.r1{
    width: 100%;
    font-size: 50px;
    padding-top:80px;
    padding-left: 40px; 
    color: white;
    
  

}

.r2{
    width: 100%;
    padding-top:30px;
    padding-left:30px;
    
    
}
.c1{
    width: 60%;
    margin:auto;
    padding-top:40px;
    padding-left: 40px;
    border: 2px solid rgb(97,96,97); 
    background-color: white ;
   
}
