*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    margin:0px;
    font-family:"Open Sans", sans-serif;    
    background-image: url(../img/back1.jpg);
    background-attachment: fixed;
    background-size: cover; 
    height:1250px;  
   
}
.content{
    margin-left:-250px;
    overflow-x: hidden;
    transition:0.7s;
    position: fixed;    
}
    
.sidebar{
    width: 170px;
    height:668px;
    float: left;
    overflow: hidden;
    margin-left:0px;
    z-index:1;
    overflow-x: hidden;
    transition: 0.9s;
    padding-bottom:263px;
    background-image: url(../img/side_bar.jpg);
    background-attachment: fixed;
    background-size: cover; 
    
}
.elements_nav{
    color: #FFD700;
    text-decoration: none;
    display: block;
    margin: 20px;
}
.open_side_nav{
    font-size: 25px;
    display: inline-block;
    color: #FFD700;
    position: fixed;
}
.cross{
    padding-left: 150px;
    padding-bottom:40px;
    font-size: 25px;
    display: inline-block;
    color: #FFD700;
}
.open_side_nav_off{
    font-size: 25px;
    display: none;
}
.cross_off{
    display: none;
}
.main{
    margin:auto;
    width:400px;
}
.logo{
    position: absolute;
    top:100px;
    height:400px;
    width:400px;
}
.tag{
    position: absolute;
    top:500px;
    width: 400px;
    text-align: center;
    color: #1d0304;
    font-family: cursive;
}

