*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    margin:0px;
    font-family:"Open Sans", sans-serif;
    /*background-image: url(../img/back1.jpg);*/
    background-attachment: fixed;
    background-size: cover;
    height:1250px;
    position:relative;
}
.content{
    margin-left:-250px;
    overflow-x: hidden;
    transition:0.7s;
    position: fixed;
    top:10px;
}

.sidebar{
    width: 170px;
    height: 100%;
    float: left;
    overflow: hidden;
    margin-left: 0px;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.9s;
    padding-bottom: 263px;
    background-image: url(../img/ev8.jpg);
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.9;
}
.elements_nav{
    color: white;
    text-decoration: none;
    display: block;
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
}
.open_side_nav{
    font-size: 25px;
    display: inline-block;
    color: white;
    position: fixed;
    top:10px;
}
.cross{
    padding-left: 150px;
    padding-bottom: 40px;
    font-size: 35px;
    display: inline-block;
    color: white;
}
.open_side_nav_off{
    font-size: 25px;
    display: none;
}
.cross_off{
    display: none;
}
.main{
    margin:auto;
    width:400px;
}
.logo{
    position: absolute;
    top:100px;
    height:400px;
    width:400px;
}
.tag{
    position: absolute;
    top:500px;
    width: 400px;
    text-align: center;
    color: #ef9819;
    font-family: 'Lobster', cursive;
    font-size: 40px;
}
#myVideo {
    /*position: fixed;
    min-height: 100%;*/
    min-width: 100%;
}

/*events section*/

*{
    box-sizing:border-box;
}

.real_scroll{
    margin-left:20px;
    margin-right:20px;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position:relative;
    margin-top: 100px;
}
::-webkit-scrollbar{
    display:none;
}


.arrow{
    width:30px;
    height:100px;
    background-color:rgba(230, 230, 255,0.3);
    padding:45px 5px;
    border-radius:5px;
    margin:180px 10px 0px 0px;

}
/*.scroll{
    background-color:#000080;
    position:absolute;
    top:700px;
}*/
.scroll_main{
    background-image: url("../img/5.jpeg");
    background-color: #cccccc;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    /*top:1000px;*/
    margin-top: -115px;
}

/*.real_scroll::after{
    content:"";
    display:block;
    clear:both;
} */

.card{
    width:260px;
    border:2px black solid;
    display:inline-block;
    margin:20px 20px;
    font-family:consolas;


}

.card_head{
    height:280px;
    border-bottom:2px green solid;
    padding:10px 10px;
    color:#ffeeee;
    font-family:consolas;
}

.cd_1{
    background-image: url("../img/abc.jpeg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cd_2{
    background-image: url("../img/a.jpeg");
    background-color: #cccccc;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.cd_3{
    background-image: url("../img/b.jpeg");
    background-color: #cccccc;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.cd_4{
    background-image: url("../img/c.jpeg");
    background-color: #cccccc;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}


.card_footer{
    height:120px;
    background-color:#00004d;
    color:#ffffff;
    padding:10px 10px;
    font-family:consolas;
}

.card_r1{
    padding:5px 5px;
}

.scroll_main i {
  border: solid #ffeeee;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: auto;


}

.right {

    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.r{
    position:absolute;
    right:1px;
    bottom:180px;
}

.left {

    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.l{
    position:absolute;
    left:1px;
}



.scroll_main a {
   background-color: black;
   color: white;
   padding: 8px 100px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 26px;
   margin: 4px 2px;
   transition-duration: 0.4s;
   cursor: pointer;
   border-radius: 12px;
}
